body {
  background-color: lightgray;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 1em;
}

table td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

td.alive {
  background-color: black;
}

td.dead {
  background-color: white;
}